  h1{
    border:5px solid blue;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 40px 20px;
    box-shadow: 5px 5px 15px 5px orange;
    padding:20px;
    margin:20px;
    display:block;
    width:100px;
    height:200px;
    margin:50px;
    font-size:20px;
    color:orange;
    border-style: dashed;
    border-color: black; //위에 처럼 border 란에 블루로 줘도 되고 이렇게 따로 border color를 줘도 된다.
  }
  form{
    margin:50px;
  }
  fieldset{
    width:30px;
    padding:30px;
  }

  .test{
    text-indent:30px; //픽셀 혹은 퍼센트 ex)5% 이렇게 줄 수 있는데 반응형 웹을 만든다는 가정하에 퍼센트로 값을 주는게 더 좋을 수 있다.

  }
  p{
    color:blue;
    line-height: 2.0; //줄간격은 1.5에서 2배가 적당하다.(1.5배의 경우 1.5 라고만 표시해주면 됨.)
  }
  ul{
    list-style-type:none; //여러 요소들 앞에 자동적으로 나오는 점 뺴주는거
    color:blue;
    text-shadow: 20px 20px 3px black; //가로 세로 번짐정도 색깔(너무 번지게 하면 안보여
    text-align:center;
      )
  }
body{

  background: linear-gradient(to right bottom, blue, white);
  background-image: url('75.jpg');
  background-size: cover;//이거 덕분에 한 개의 이미지가 화면 전체를 덮는
  display : inline-block;
}
